- var brightnesses = 16

html
  head
    link(rel="stylesheet", href="style.css")
  body
    input(type="checkbox" id="toggle")
    label(for="toggle" class="play")
    each image, index in imageData
      div(class="container container-"+index)
        div(class="isolate")

          div.cont-r
            each pixel in image
              - var red = Math.floor(pixel.color.r / (255 / brightnesses))
              - var id = pixel.x + '-' + pixel.y
              div(class="pixel pixel-"+id)
                - for (var brightness = 0; brightness < brightnesses; brightness++)
                  if (brightness==red)
                    input(type="radio" class="sat"+brightness name="r"+id+"-"+index checked)
                div.color.red
                  .sat

          div.cont-g
            each pixel in image
              - var green = Math.floor(pixel.color.g / (255 / brightnesses))
              - var id = pixel.x + '-' + pixel.y
              div(class="pixel pixel-"+id)
                - for (var brightness = 0; brightness < brightnesses; brightness++)
                  if (brightness==green)
                    input(type="radio" class="sat"+brightness name="g"+id+"-"+index checked)
                div.color.green
                  .sat

          div.cont-b
            each pixel in image
              - var blue = Math.floor(pixel.color.b / (255 / brightnesses))
              - var id = pixel.x + '-' + pixel.y
              div(class="pixel pixel-"+id)
                - for (var brightness = 0; brightness < brightnesses; brightness++)
                  if (brightness==blue)
                    input(type="radio" class="sat"+brightness name="b"+id+"-"+index checked)
                div.color.blue
                  .sat